.side-menu {
  a {
    text-decoration: none;
    text-overflow: ellipsis;
    overflow:hidden;
    font-weight:bold;
    &:focus {
      outline:none;
    }
    &.active {
      color:#fff;
      .svg {
        fill:#fff;
      }
    }
  }
  .item-wrapper {
    // margin-bottom:4px;
    &:last-child {
      margin-bottom:0;
    }
    .item {

    }
    .icon {
      transition: transform 0.2s ease-in-out;
      -webkit-transition: -webkit-transform 0.2s ease-in-out;
    }
    .submenu {
      display:none;
    }
    &.show {
      .submenu {
        display:block;
      }
      .icon {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
  }
}

.nsmi-icon {

}
