.node-top-wrapper {
  .crumb {
    a {
      text-decoration:none;
      &:hover {
        text-decoration:none;
      }
    }
  }
  .node-actions {

  }
  .mobile-title {  // temp?
    font-size:26px;
    line-height:28px;
  }
}

// Print styles
@media only print {
  .node-top-wrapper {
    .crumb, .node-admin, .node-actions, .hide-print {
      display:none !important;
    }
  }
}
