<div *ngIf="item.processed" class="pad-r mat-elevation-z2 border-radius whitebg bg segment-wrapper">
  <div class="pad backg1 bg margin-bottom" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="margin-right">Excerpt from</div>
    <a [routerLink]="'/' + variables.lang + '/' + item.parent.link" class="seg-link">
      <div *ngIf="variables.lang === 'en'">
        <div [innerHTML]="item.parent.node_export.title[0].value"></div>
      </div>
      <div *ngIf="variables.lang === 'es'">
        <div [innerHTML]="item.parent.node_export.i18n?.es.title[0].value"></div>
      </div>
    </a>
    <div fxHide class="margin-left">{{item.relevance}}</div>
  </div>
  <div class="margin-bottom">
    <h2 class="no-margin">
      <div *ngIf="variables.lang === 'en'">
        <div [innerHTML]="item.node_export.title[0].value"></div>
      </div>
      <div *ngIf="variables.lang === 'es'">
        <div [innerHTML]="item.node_export.i18n?.es.title[0].value"></div>
      </div>
    </h2>
  </div>
  <div>
    <div *ngIf="variables.lang === 'en'">
      <div [ngClass]="{'trimmed': trimSeg(item.node_export?.body[0])}"
           [innerHTML]="item.node_export?.body[0].value | safeHtml"></div>
    </div>
    <div *ngIf="variables.lang === 'es'">
      <div [ngClass]="{'trimmed': trimSeg(item.node_export?.body[0])}"
           [innerHTML]="item.node_export?.i18n.es.body[0].value | safeHtml"></div>
    </div>
    <div *ngIf="trimSeg(item.node_export?.body[0])" fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button class="primary button seg-expand"
              (click)="item.node_export?.body[0].full = true">
        Read More <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>
