.footer-wrapper {
  &.editing {
   padding-bottom:245px;
  }
}

.footer {
  color:#fff;
  a {
    color:#fff;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
    .mat-icon {
      color:#fff;
    }
  }
}

.admin-inline-wrapper {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  z-index: 100;
  height:225px;
  overflow-y: scroll;
}

@media only screen and (min-width: 960px) {
  .footer {
    .block-inner {
      padding:4px;
    }
  }
}
