<div class="app-container custom-typography" fxLayout="column">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sidenav>
      <div *ngIf="!working" class="inner pad">
        <app-side-menu (nav)="sidenav.close()"></app-side-menu>
      </div>
    </mat-sidenav>
    <div class="root" #root="dir" dir="ltr" fxLayout="column">
      <div class="headroom-main-wrapper backg bg">
        <ngx-headroom duration="500" easing="ease-in-out" [disable]="sidenav.opened">
          <mat-toolbar class="header mat-elevation-z3">
            <div *ngIf="!working" class="max-width-layout" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon fxHide fxShow.xs fxShow.sm (click)="sidenav.toggle()" class="margin-right menu-icon">menu</mat-icon>
              <div>
                <a [routerLink]="variables.lang"
                   class="home" fxLayout="column" (click)="sidenav.close()" [@logoAnimation]="variables.working">
                  Legal Services Template
                </a>
              </div>
              <div fxFlex></div>
              <div fxHide.xs fxHide.sm class="margin-right">
                <app-menu></app-menu>
              </div>
              <div fxHide.xs fxHide.sm class="margin-left margin-right">
                <app-search-bar></app-search-bar>
              </div>
              <app-lang-select></app-lang-select>
            </div>
          </mat-toolbar>
        </ngx-headroom>
      </div>
      <div class="content max-width-layout">
        <router-outlet *ngIf="!working" (deactivate)="scroll()"></router-outlet>
      </div>
    </div>
    <app-footer *ngIf="!working" class="footer-wrapper"></app-footer>
  </mat-sidenav-container>
</div>
