.app-container {
  min-height:100%;
  position:relative;

  .search-fab {
    position:fixed;
    bottom:0;
    right:0;
    z-index:2;
    &.searching {
      left:0;
      .search-bar {
        background:rgba(0,0,0,0.35);
      }
    }
  }

  .headroom-main-wrapper {
    height:56px;
  }

  .headroom-wrapper {
    .headroom {
      z-index: 3 !important;
    }
  }

  .header {
    height:56px;
    a.home {
      color:#fff;
      text-decoration: none;
    }
    .logo {
      width:180px;
    }
    .menu-icon {
      color: #fff;
    }
  }

  .sidenav-container {
    .headroom-wrapper {
      .headroom.headroom--unfixed {
        position:fixed !important;
      }
    }
  }

  .mat-drawer-backdrop {
    position:fixed;
    top:56px;
  }

  .sidenav {
    width:350px;
    max-width:98%;
    position:fixed;
    top:56px;
  }

  .content {
    background:#fff;
    z-index: 1;
    min-height:100px;
  }
}

// Desktop styles
@media only screen and (min-width: 960px) {
  .app-container {
    .search-fab {
      display:none;
    }
    .headroom-main-wrapper {
      height:64px;
    }
    .header {
      height:64px;
      .logo {
        width:210px;
      }
    }
    .sidenav, .mat-drawer-backdrop {
      top:64px;
    }
  }
}

// Print styles
@media only print {
  .app-container {
    .search-fab, .header, .sidenav, .footer-wrapper {
      display:none !important;
    }
  }
}
