<div class="custom-typography confirm-dialog" fxFill fxLayout="column">
  <div fxFlex>
    <mat-dialog-content fxFill class="dialog-node" fxLayout="column">
      <div fxFlex fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="center center">
          <div>Are you sure?</div>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="margin-top">
          <div><button mat-raised-button class="primary button" (click)="onYesClick()">Yes</button></div>
          <div><button mat-raised-button (click)="onNoClick()">No</button></div>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</div>
