<div>
  <div class="pad backg bg white-text" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="no-margin">Node Order</h4>
    <div fxFlex></div>
  </div>
  <div class="pad" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="margin-bottom">
      <div class="mat-caption" [innerHTML]="term.name"></div>
      <div fxFlex></div>
      <div class="margin-left margin-right"><button mat-raised-button (click)="cancelOrder()">Cancel</button></div>
      <div><button mat-raised-button color="primary" (click)="saveOrder()">Save</button></div>
    </div>
    <div class="backg1 bg pad">
      <div class="whitebg bg pad">
        <div class="pad">Manual Order (Pinned)</div>
        <div dnd-sortable-container [sortableData]="nodes">
          <div *ngFor="let item of nodes; let index = index" dnd-sortable [sortableIndex]="index" class="pad">
            <div class="backg border pad" fxLayout="row" fxLayoutAlign="start center">
              <div class="mat-caption">{{index + 1}}</div>
              <div class="margin-left" [innerHTML]="item.name"></div>
              <div class="margin-left mat-caption">{{item.target_id}}</div>
              <div class="margin-left status-circle bg"
                   [ngClass]="{'alert': !item.status, 'enabled': item.status}"></div>
              <div fxLayout="column" fxLayoutAlign="center center" class="margin-left"
                   (click)="removeFromList(index)" style="cursor: pointer">
                <mat-icon class="alert icon">remove_circle</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="margin-top whitebg bg pad">
        <div class="pad">Node List (A to Z)</div>
        <div *ngFor="let item of all_nodes" [fxHide]="item.hide" class="pad">
          <div class="backg border pad" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center center" (click)="addToList(item)" style="cursor: pointer">
              <mat-icon>add</mat-icon>
            </div>
            <div class="margin-left" [innerHTML]="item.title"></div>
            <div fxLayout="row wrap" fxLayoutAlign="start center" class="margin-left mat-caption">
              <div>{{item.nid}}</div>
              <div class="margin-left status-circle bg"
                   [ngClass]="{'alert': !item.status, 'enabled': item.status}"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
