.lang-select {
  a {
    color:#fff;
    text-decoration: none;
    padding:0 8px 0 0;
  }
  .lang-btn {
    min-width:48px;
    padding:0 8px 0 0;
    color:#fff;
  }
  .icon {
    color:#fff;
    width:34px;
    height:34px;
    position:absolute;
    left:0;
    top:-3px;
  }
}
