<div class="admin-term-triage-wrapper" fxLayout="column">
  <div class="pad backg bg white-text" fxLayout="row" fxLayoutAlign="start center">
    <h4 class="no-margin">
      Triage Entries
    </h4>
    <div fxFlex></div>
  </div>
  <div class="pad" fxLayout="column">
    <div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="mat-caption" [innerHTML]="term.name"></div>
        <div fxFlex></div>
        <div class="margin-right" fxLayout="column" fxLayoutAlign="center center">
          <button mat-raised-button (click)="cancel()">Cancel</button>
        </div>
        <div>
          <button mat-raised-button color="primary" (click)="saveTerm()">Save</button>
        </div>
      </div>
    </div>
    <div class="margin-top-lg" fxLayout="row" fxLayoutAlign="end center">
      <app-admin-node-picker [src]="entries" [type]="'segment+triage_entry+page'"></app-admin-node-picker>
    </div>
    <div *ngIf="entries && entries.length > 0" class="entries-wrapper">
      <div dnd-sortable-container [sortableData]="entries" [dropZones]="['source-dropZone']" fxLayout="column">
        <div *ngFor="let item of entries; let index = index;" dnd-sortable [dragEnabled]="true"
             [dragData]="item" [sortableIndex]="index" class="item pad-sm">
          <div fxLayout="column" class="mat-elevation-z1">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div class="pad mat-caption"><strong>{{index + 1}}</strong></div>
              <div [innerHTML]="item.node_export.title[0].value" class="margin-right"></div>
              <div fxFlex></div>
              <div class="pad-sm mat-caption" fxLayout="row" fxLayoutAlign="start center">
                <div class="margin-right"><strong>Language:</strong> {{item.node_export.field_lang_status[0].value}}</div>
                <div class="margin-right"><strong>Type:</strong> {{item.node_export.type[0].target_id}}</div>
                <div><strong>NID:</strong> {{item.node_export.nid[0].value}}</div>
              </div>
              <div class="pad" (click)="entries.splice(index, 1)">
                <mat-icon class="alert icon">remove_circle</mat-icon>
              </div>
            </div>
            <div fxLayout="row" class="backg1 bg">
              <!--Show Conditions-->
              <div fxFlex="100" fxFlex.gt-sm="50" class="pad-sm">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="svg xs icon backg">visibility</mat-icon>
                  </div>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="showmenu">
                      <mat-icon class="svg xs icon">add_circle</mat-icon>
                    </button>
                    <mat-menu #showmenu="matMenu">
                      <button [disabled]="hasCondition('show', 'locations', item)"
                              mat-menu-item (click)="addCondition('show', 'locations', item)">Location Condition</button>
                      <button [disabled]="hasCondition('show', 'triage_status', item)"
                              mat-menu-item (click)="addCondition('show', 'triage_status', item)">Status Condition</button>
                    </mat-menu>
                  </div>
                </div>
                <div class="mat-caption">
                  <div *ngIf="hasCondition('show', 'locations', item)" fxLayout="row" fxLayoutAlign="start center">
                    <div><strong>Location Condition</strong></div>
                    <div class="margin-left" (click)="addCondition('show', 'locations', item)" style="cursor: pointer">
                      <mat-icon class="svg xs icon">edit</mat-icon>
                    </div>
                    <div class="margin-left" (click)="removeCondition('show', 'locations', item)" style="cursor: pointer">
                      <mat-icon class="alert svg xs icon">remove_circle</mat-icon>
                    </div>
                  </div>
                  <div *ngIf="hasCondition('show', 'triage_status', item)" fxLayout="row" fxLayoutAlign="start center">
                    <div><strong>Status Condition</strong></div>
                    <div class="margin-left" (click)="addCondition('show', 'triage_status', item)" style="cursor: pointer">
                      <mat-icon class="svg xs icon">edit</mat-icon>
                    </div>
                    <div class="margin-left" (click)="removeCondition('show', 'triage_status', item)" style="cursor: pointer">
                      <mat-icon class="alert svg xs icon">remove_circle</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
              <!--Hide Conditions-->
              <div fxFlex="100" fxFlex.gt-sm="50" class="pad-sm">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon class="svg xs icon backg">visibility_off</mat-icon>
                  </div>
                  <div>
                    <button mat-icon-button [matMenuTriggerFor]="hidemenu">
                      <mat-icon class="svg xs icon">add_circle</mat-icon>
                    </button>
                    <mat-menu #hidemenu="matMenu">
                      <button [disabled]="hasCondition('hide', 'locations', item)"
                              mat-menu-item (click)="addCondition('hide', 'locations', item)">Location Condition</button>
                      <button [disabled]="hasCondition('hide', 'triage_status', item)"
                              mat-menu-item (click)="addCondition('hide', 'triage_status', item)">Status Condition</button>
                    </mat-menu>
                  </div>
                </div>
                <div class="mat-caption">
                  <div *ngIf="hasCondition('hide', 'locations', item)" fxLayout="row" fxLayoutAlign="start center">
                    <div><strong>Location Condition</strong></div>
                    <div class="margin-left" (click)="addCondition('hide', 'locations', item)" style="cursor: pointer">
                      <mat-icon class="svg xs icon">edit</mat-icon>
                    </div>
                    <div class="margin-left" (click)="removeCondition('hide', 'locations', item)" style="cursor: pointer">
                      <mat-icon class="alert svg xs icon">remove_circle</mat-icon>
                    </div>
                  </div>
                  <div *ngIf="hasCondition('hide', 'triage_status', item)" fxLayout="row" fxLayoutAlign="start center">
                    <div><strong>Status Condition</strong></div>
                    <div class="margin-left" (click)="addCondition('hide', 'triage_status', item)" style="cursor: pointer">
                      <mat-icon class="svg xs icon">edit</mat-icon>
                    </div>
                    <div class="margin-left" (click)="removeCondition('hide', 'triage_status', item)" style="cursor: pointer">
                      <mat-icon class="alert svg xs icon">remove_circle</mat-icon>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

