@import '~@angular/material/theming';

@mixin material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .mat-primary-color {
    background-color: mat-color($primary);
  }
  .mat-primary-svg-color {
    color: mat-color($primary);
  }
  .mat-accent-color {
    background-color: mat-color($accent);
  }
  .mat-accent-svg-color {
    color: mat-color($accent);
  }
}

$custom-typography: mat-typography-config(
  $font-family:   'Nunito, sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 700, 'Palanquin, sans-serif'),
  $display-3:     mat-typography-level(56px, 56px, 700, 'Palanquin, sans-serif'),
  $display-2:     mat-typography-level(45px, 48px, 700, 'Palanquin, sans-serif'),
  $display-1:     mat-typography-level(34px, 40px, 700, 'Palanquin, sans-serif'),
  $headline:      mat-typography-level(32px, 40px, 700, 'Palanquin, sans-serif'), // H1
  $title:         mat-typography-level(28px, 32px, 600, 'Palanquin, sans-serif'), // H2
  $subheading-2:  mat-typography-level(22px, 26px, 600, 'Palanquin, sans-serif'), // H3
  $subheading-1:  mat-typography-level(18px, 22px, 600, 'Palanquin, sans-serif'), // H4
  $body-2:        mat-typography-level(16px, 24px, 500),
  $body-1:        mat-typography-level(16px, 24px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(15px, 15px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)
);

@include angular-material-typography($custom-typography);
@include mat-base-typography($custom-typography, '.custom-typography');
@include mat-core($custom-typography);
