<div class="admin-node-block-wrapper" fxLayout="column">
  <div *ngIf="!working">
    <form [formGroup]="formGroup" class="ui-fluid">
      <dynamic-primeng-form [group]="formGroup" [model]="formModel" [layout]="formLayout"
                            hasErrorMessaging="true" (dfChange)="onChange($event)">
        <ng-template modelId="icon">
          <mat-form-field>
            <mat-select placeholder="Icon" [(ngModel)]="selectedIcon" [ngModelOptions]="{standalone: true}">
              <mat-option *ngFor="let item of icons" [value]="item.value">
                <div fxLayout="row" fxLayoutAlign="start center">
                  <div *ngIf="item.value" class="margin-right">
                    <mat-icon svgIcon="tid{{item.value}}" class="svg sm primary icon"></mat-icon>
                  </div>
                  <div>{{item.label}}</div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
        <ng-template modelId="node_ref_en">
          <app-admin-form-node-ref [src]="node_ref_en" type="page" [history]="changes"></app-admin-form-node-ref>
        </ng-template>
        <ng-template modelId="node_ref_es">
          <app-admin-form-node-ref [src]="node_ref_es" type="page" [history]="changes"></app-admin-form-node-ref>
        </ng-template>
        <ng-template modelId="image" let-value="value">
          <app-file-upload [value]="value" type="image" [history]="changes"></app-file-upload>
        </ng-template>
      </dynamic-primeng-form>
      <div class="ui-g-12" fxLayout="row" fxLayoutAlign="end center">
        <div class="margin-right-lg" fxLayout="column" fxLayoutAlign="center center">
          <a mat-raised-button class="button" routerLink="/admin/content/blocks">Cancel</a>
        </div>
        <div>
          <button mat-raised-button color="primary" type="submit" (click)="saveNode()">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
